* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #ffffff;
  text-decoration: none;
}

h2 {
  text-decoration: none;
  color: #000000;
  font-family: montserrat, sans-serif;
  font-weight: bold;
}

p {
  font-family: raleway, sans-serif;
}

#logo {
  width: 63px;
}
/* navigation */
.navbar {
  position: fixed;
  height: 80px;
  border-bottom: 1px solid #d6d6d6;
  display: grid;
  background-color: white;
  width: 100%;
  top: 0;
  align-items: center;

  font-family: montserrat, sans-serif;
  grid-template-columns: 8% 7% 45% auto 8%;
}

.logotype {
  font-size: 1.6rem;
  line-height: 29px;
  text-decoration: none;
  color: #000000;
}

.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.link-item {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
}

.link:hover,
.link:focus {
  color: #ffc5fd;
}

/* body */

.container {
  margin-top: 130px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 8% repeat(12, 1fr) 8%;
  grid-template-rows: repeat(24, 16vh);
  grid-template-areas:
    ". A A A A A A A i i i i i i"
    ". a a a a a a . i i i i i i"
    ". a a a a a a . i i i i i i"
    ". . . . . . . . i i i i i i"
    ". . . . . . . . . . . . . ."
    ". B B B B B B B B B B B B ."
    ". b b b b b b b b b b b b ."
    ". c c c c c c c c c c c c ."
    ". c c c c c c c c c c c c ."
    ". . . . . . d d . . . . . ."
    ". . . . . . . . . . . . . .";
}
.Introduction-A {
  grid-area: A;
  font-size: 48px;
}
.introduction-a {
  grid-area: a;
  font-size: 30px;
}

.illustration-i {
  grid-area: i;
  max-width: 100%;
  object-fit: cover;
  margin: auto auto auto auto;
}

.Works-B {
  grid-area: B;
  text-align: center;
  font-size: 40px;
}

.works-b {
  grid-area: b;
  text-align: center;
  font-size: 24px;
}

.card {
  flex-wrap: wrap;
  justify-content: center;
  grid-area: c;
  display: flex;
}

.recentworks {
  max-width: 340px;
  height: 220 px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 6px;
}

.recentworks:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 4px 4px rgba(0, 0, 0, 0.24);
}

.image-cover {
  margin: 0;
  padding: 1;
  width: 100%;
  height: 80%;
}
.recentworks-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
@media screen and (max-width: 950px) {
  .container {
    margin-top: 10px;
    grid-template-areas:
      ". A A A A A A A A A A A A ."
      ". a a a a a a a a a a a a ."
      ". a a a a a a a a a a a a ."
      ". . . . . . . . . . . . . ."
      ". . i i i i i i i i i i . ."
      ". . i i i i i i i i i i . ."
      ". . i i i i i i i i i i . ."
      ". . i i i i i i i i i i . ."
      ". B B B B B B B B B B B B ."
      ". b b b b b b b b b b b b ."
      ". c c c c c c c c c c c c ."
      ". c c c c c c c c c c c c ."
      ". c c c c c c c c c c c c ."
      ". c c c c c c c c c c c c ."
      ". . . . . . d d . . . . . ."
      ". . . . . . . . . . . . . .";
  }

  .recentworks {
    max-width: 700px;
  }

  .navbar {
    display: none;
  }
  .logotype,
  .link {
    display: none;
  }
  .Introduction-A,
  .Works-B {
    font-size: 2.5rem;
  }
  .introduction-a,
  .works-b {
    font-size: 1.8rem;
  }
}
